.QuestionPage-question {
    margin-bottom: 50px;
    min-height: 30vh;
}

.QuestionPage-number {
    text-align: center;
    padding: 5px 0;
}

.QuestionPage-title {
    text-align: center;
}

.QuestionPage-choices {
    text-align: center;
}

.QuestionPage-choice {
    display: block;
    padding-bottom: 15px;
}

.QuestionPage-controls {
    text-align: center;
}
