.QuestionPage-question {
    padding-bottom: 20px;
    min-height: 20vh;
}

.QuestionPage-number {
    text-align: center;
    padding: 5px 0;
}

.QuestionPage-title {
    text-align: center;
}

.QuestionPage-choices {
    text-align: center;
}

.QuestionPage-choice {
    display: inline-block;
    padding: 10px;
}

.QuestionPage-controls {
    text-align: center;
}
